# ----------------------
# Python cache
# ----------------------
__pycache__/
*.pyc
*.pyo

# ----------------------
# Virtual environments
# ----------------------
venv/
env/
.venv/

# ----------------------
# Data files (big)
# ----------------------
data/
*.csv
*.xlsx

# ----------------------
# ML models (VERY IMPORTANT)
# ----------------------
models/
*.pkl

# ----------------------
# Logs
# ----------------------
*.log

# ----------------------
# Streamlit
# ----------------------
.streamlit/

# ----------------------
# OS files
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# IDE files
# ----------------------
.vscode/
.idea/

# ----------------------
# Secrets / API keys
# ----------------------
.env